# pandas 실전연습
아마존 사이트에서 구입한 이력 데이터를 pandas 로 가져와 분석해봅시다.

## 1. 데이터 로드 및 확인

In [2]:
import pandas as pd

df = pd.read_csv('ecommerse.csv')
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [3]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [5]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [6]:
df.shape

(10000, 14)

In [7]:
df['AM or PM']

0       PM
1       PM
2       PM
3       PM
4       AM
        ..
9995    PM
9996    AM
9997    AM
9998    PM
9999    AM
Name: AM or PM, Length: 10000, dtype: object

In [9]:
df['AM or PM'].value_counts() #오전 오후 몇개인지 알고 싶을 때

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [10]:
df["CC Provider"].value_counts()

JCB 16 digit                   1716
VISA 16 digit                  1715
JCB 15 digit                    868
American Express                849
Maestro                         846
Voyager                         829
Discover                        817
Mastercard                      816
VISA 13 digit                   777
Diners Club / Carte Blanche     767
Name: CC Provider, dtype: int64

In [11]:
df['Job'].value_counts()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
                                 ..
Prison officer                    7
Editor, film/video                6
Actuary                           6
Information systems manager       5
Investment analyst                5
Name: Job, Length: 623, dtype: int64

In [12]:
df['Language'].value_counts()

de    1155
ru    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: Language, dtype: int64

#### 총 구매금액의 평균을 구해보세요.

In [13]:
df['Purchase Price']

0       98.14
1       70.73
2        0.95
3       78.04
4       77.82
        ...
9995    82.21
9996    25.63
9997    83.98
9998    38.84
9999    67.59
Name: Purchase Price, Length: 10000, dtype: float64

In [14]:
df['Purchase Price'].mean()

50.34730200000025

#### 웹사이트 언어로 영어(en)를 사용하는 사람은 몇명인가요?

In [15]:
df['Language'].value_counts()

de    1155
ru    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: Language, dtype: int64

In [16]:
df[df['Language'] == "en"]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,03/22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9961,"714 Joshua Ridges\nCarpenterville, NJ 37418",84 rK,PM,Opera/9.49.(X11; Linux i686; it-IT) Presto/2.9...,White-Wilson,3158062139581601,08/16,723,VISA 13 digit,justin11@porter-smith.info,"Nurse, mental health",40.218.118.68,en,23.96
9963,"3865 Davis Meadow Suite 915\nPort Stacieview, ...",11 fo,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,"Brown, Gentry and White",4295151255424068,07/25,764,JCB 15 digit,zjames@gmail.com,Surgeon,171.24.198.172,en,58.17
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55

In [17]:
len(df[df['Language'] == "en"])

1098

#### 고객들은 어떠한 직업을 가지고 있나요?

In [19]:
df['Job'].value_counts() #...에서 생략 됨

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
                                 ..
Prison officer                    7
Editor, film/video                6
Actuary                           6
Information systems manager       5
Investment analyst                5
Name: Job, Length: 623, dtype: int64

In [20]:
df['Job'].value_counts().keys()

Index(['Interior and spatial designer', 'Lawyer', 'Social researcher',
       'Purchasing manager', 'Designer, jewellery',
       'Research officer, political party', 'Charity fundraiser',
       'Designer, fashion/clothing', 'Social worker', 'Dietitian',
       ...
       'Exhibitions officer, museum/gallery', 'Nurse, learning disability',
       'Music therapist', 'Special effects artist', 'Stage manager',
       'Prison officer', 'Editor, film/video', 'Actuary',
       'Information systems manager', 'Investment analyst'],
      dtype='object', length=623)

In [21]:
list(df['Job'].value_counts().keys())

['Interior and spatial designer',
 'Lawyer',
 'Social researcher',
 'Purchasing manager',
 'Designer, jewellery',
 'Research officer, political party',
 'Charity fundraiser',
 'Designer, fashion/clothing',
 'Social worker',
 'Dietitian',
 'Special educational needs teacher',
 'Advice worker',
 'Psychologist, clinical',
 'Network engineer',
 'Radio broadcast assistant',
 'Secretary/administrator',
 'Sports therapist',
 'Designer, interior/spatial',
 'Therapist, art',
 'Engineer, water',
 'Wellsite geologist',
 'Scientist, clinical (histocompatibility and immunogenetics)',
 'Television camera operator',
 'Geneticist, molecular',
 'Psychotherapist, dance movement',
 'Armed forces technical officer',
 'Hydrologist',
 'Civil engineer, contracting',
 'Risk analyst',
 'Financial controller',
 'Scientist, research (physical sciences)',
 'Administrator, arts',
 'Art therapist',
 'Buyer, retail',
 'Furniture conservator/restorer',
 'Designer, multimedia',
 'Private music teacher',
 'Brewing technologist',
 'Copywriter, advertising',
 'Television production assistant',
 'Claims inspector/assessor',
 'Market researcher',
 'Careers adviser',
 'Community pharmacist',
 'Development worker, community',
 'Therapist, drama',
 'Automotive engineer',
 "Barrister's clerk",
 'Lecturer, higher education',
 'Clinical cytogeneticist',
 'Presenter, broadcasting',
 'Planning and development surveyor',
 'Nurse, mental health',
 'Scientist, marine',
 'Hydrogeologist',
 'Printmaker',
 'Multimedia programmer',
 'Counselling psychologist',
 'Scientist, research (life sciences)',
 'Legal secretary',
 'Surveyor, rural practice',
 'Chiropodist',
 'Insurance claims handler',
 'Engineer, land',
 'Warden/ranger',
 'Pension scheme manager',
 'Secretary, company',
 'Engineer, building services',
 'Marine scientist',
 'Therapeutic radiographer',
 'Surveyor, land/geomatics',
 'Biomedical engineer',
 'Optometrist',
 'IT consultant',
 'Mining engineer',
 'Medical laboratory scientific officer',
 'Furniture designer',
 'Structural engineer',
 'Chartered management accountant',
 'Forest/woodland manager',
 'Health promotion specialist',
 'Multimedia specialist',
 'Training and development officer',
 'Clothing/textile technologist',
 'Land/geomatics surveyor',
 'Retail manager',
 'Sports administrator',
 'Cartographer',
 'Hotel manager',
 'Drilling engineer',
 'Radiation protection practitioner',
 'Petroleum engineer',
 'English as a foreign language teacher',
 'Fish farm manager',
 'Graphic designer',
 'Sales executive',
 'Contracting civil engineer',
 'Orthoptist',
 'Chiropractor',
 'Producer, television/film/video',
 'Early years teacher',
 'Musician',
 'Theatre director',
 'Adult guidance worker',
 'Call centre manager',
 'Museum/gallery exhibitions officer',
 'Farm manager',
 'Psychotherapist, child',
 'Solicitor',
 'Pensions consultant',
 'Immigration officer',
 'Education officer, museum',
 'Surveyor, mining',
 'Location manager',
 'Accountant, chartered',
 'Advertising art director',
 'Operational investment banker',
 'Scientist, biomedical',
 'Minerals surveyor',
 'Facilities manager',
 'Equities trader',
 'Air cabin crew',
 'Set designer',
 'Print production planner',
 'Paramedic',
 'Film/video editor',
 'Ceramics designer',
 'Technical sales engineer',
 'Medical sales representative',
 'Legal executive',
 'Journalist, magazine',
 'Artist',
 'Health and safety adviser',
 'Web designer',
 'Personal assistant',
 'Landscape architect',
 'Merchandiser, retail',
 'Publishing copy',
 'Nurse, adult',
 'Engineer, civil (contracting)',
 'Electrical engineer',
 'Clinical psychologist',
 'Dentist',
 'Cytogeneticist',
 'Librarian, academic',
 'Firefighter',
 'Conservator, furniture',
 'Community arts worker',
 'Oncologist',
 'Scientist, product/process development',
 'Quarry manager',
 'Sound technician, broadcasting/film/video',
 'Medical physicist',
 'Analytical chemist',
 'Commercial/residential surveyor',
 'Air traffic controller',
 'Therapist, sports',
 'Economist',
 'Designer, furniture',
 'Medical technical officer',
 'Best boy',
 'Air broker',
 'Social research officer, government',
 'Engineer, maintenance (IT)',
 'Geophysical data processor',
 'Designer, ceramics/pottery',
 'Psychologist, forensic',
 'Music tutor',
 'Field seismologist',
 'Quantity surveyor',
 'Ecologist',
 'Restaurant manager, fast food',
 'Occupational therapist',
 'Television floor manager',
 'Biomedical scientist',
 'Production assistant, radio',
 'Ambulance person',
 'Hospital doctor',
 'Engineer, maintenance',
 'Further education lecturer',
 'Surveyor, building control',
 'Operations geologist',
 'Sport and exercise psychologist',
 'Regulatory affairs officer',
 'Therapist, horticultural',
 'Producer, radio',
 'Psychiatrist',
 'Engineer, manufacturing',
 'Ergonomist',
 'Control and instrumentation engineer',
 'Curator',
 'Medical illustrator',
 'Youth worker',
 'Engineer, broadcasting (operations)',
 'Accountant, chartered certified',
 'Broadcast journalist',
 'Lobbyist',
 'Ship broker',
 'Dealer',
 'Water quality scientist',
 'Volunteer coordinator',
 'Journalist, broadcasting',
 'Fisheries officer',
 'Jewellery designer',
 'Designer, television/film set',
 'Production engineer',
 'Pathologist',
 'Photographer',
 'Engineer, materials',
 'Energy manager',
 'Aid worker',
 'Engineer, automotive',
 'Research scientist (medical)',
 'Scientific laboratory technician',
 'Forensic scientist',
 'English as a second language teacher',
 'Psychologist, prison and probation services',
 'Event organiser',
 'Higher education lecturer',
 'Customer service manager',
 'Embryologist, clinical',
 'Doctor, hospital',
 'Restaurant manager',
 'Applications developer',
 'Science writer',
 'Health physicist',
 'Industrial buyer',
 'Insurance account manager',
 'Conservation officer, historic buildings',
 'Video editor',
 'Editorial assistant',
 'Rural practice surveyor',
 'Media planner',
 'Computer games developer',
 'Scientist, audiological',
 'Architectural technologist',
 'Engineer, biomedical',
 'Building control surveyor',
 'IT trainer',
 'Geologist, wellsite',
 'Acupuncturist',
 'Nutritional therapist',
 'Diagnostic radiographer',
 'Financial manager',
 'Chartered certified accountant',
 'Radio producer',
 'Engineer, energy',
 'Careers information officer',
 'Programmer, multimedia',
 'Materials engineer',
 'Emergency planning/management officer',
 'Veterinary surgeon',
 'Textile designer',
 'Health and safety inspector',
 'Scientist, research (maths)',
 'Personnel officer',
 'Chemical engineer',
 'Industrial/product designer',
 'Field trials officer',
 'Surveyor, planning and development',
 'Accommodation manager',
 'Translator',
 'Television/film/video producer',
 'Dance movement psychotherapist',
 'Sports development officer',
 'Agricultural consultant',
 'Editor, magazine features',
 'International aid/development worker',
 'Clinical embryologist',
 'Production designer, theatre/television/film',
 'Occupational hygienist',
 'Merchant navy officer',
 'IT sales professional',
 'Secondary school teacher',
 'Research officer, government',
 'Teaching laboratory technician',
 'Biochemist, clinical',
 'Animator',
 'Systems developer',
 'Production assistant, television',
 'Logistics and distribution manager',
 'Local government officer',
 'Estate manager/land agent',
 'Teacher, primary school',
 'Radiographer, diagnostic',
 'Osteopath',
 'Physiotherapist',
 'Horticultural consultant',
 'Engineer, electrical',
 'Product/process development scientist',
 'Tax adviser',
 'Management consultant',
 "Nurse, children's",
 'Lighting technician, broadcasting/film/video',
 'Arts administrator',
 'Museum education officer',
 'Journalist, newspaper',
 'Maintenance engineer',
 'Charity officer',
 'Fashion designer',
 'Engineer, communications',
 'Teacher, secondary school',
 'Editor, commissioning',
 'Clinical research associate',
 'Psychologist, counselling',
 'Transport planner',
 'Engineer, structural',
 'Futures trader',
 'Engineer, agricultural',
 'Operational researcher',
 'Administrator',
 'Publishing rights manager',
 'Town planner',
 'Interpreter',
 'Surgeon',
 'Cabin crew',
 'Scientist, forensic',
 'Psychiatric nurse',
 'Mudlogger',
 'Engineer, aeronautical',
 'Pharmacist, hospital',
 'Commercial art gallery manager',
 'Nature conservation officer',
 'Energy engineer',
 'Heritage manager',
 'Geochemist',
 'Recycling officer',
 'Public relations officer',
 'Therapist, music',
 'Seismic interpreter',
 'Geologist, engineering',
 'Database administrator',
 'Astronomer',
 'Insurance risk surveyor',
 'Corporate treasurer',
 'Historic buildings inspector/conservation officer',
 'Electronics engineer',
 'Horticulturist, commercial',
 'Horticultural therapist',
 'Chartered public finance accountant',
 'Land',
 'Retail merchandiser',
 'Fast food restaurant manager',
 'Administrator, charities/voluntary organisations',
 'Patent attorney',
 'Public house manager',
 'Chartered accountant',
 'Public librarian',
 'Actor',
 'Sub',
 'Librarian, public',
 'Education officer, environmental',
 'Primary school teacher',
 'Telecommunications researcher',
 'Plant breeder/geneticist',
 'Designer, industrial/product',
 'Glass blower/designer',
 'Surveyor, minerals',
 'Water engineer',
 'Educational psychologist',
 'Statistician',
 'Gaffer',
 'Geoscientist',
 'Dramatherapist',
 'Animal technologist',
 'Accountant, chartered management',
 'Soil scientist',
 'Information officer',
 'Communications engineer',
 'Administrator, education',
 'Copy',
 'Financial trader',
 'Data processing manager',
 'Human resources officer',
 'Archaeologist',
 'Phytotherapist',
 'Teacher, early years/pre',
 'Amenity horticulturist',
 'Psychologist, sport and exercise',
 'Sales professional, IT',
 'Higher education careers adviser',
 'Programmer, systems',
 'Loss adjuster, chartered',
 'Advertising account planner',
 'Buyer, industrial',
 'Newspaper journalist',
 'Microbiologist',
 'Tax inspector',
 'Engineer, manufacturing systems',
 'Civil Service administrator',
 'Education officer, community',
 'Equality and diversity officer',
 'Technical author',
 'Optician, dispensing',
 'General practice doctor',
 'Dancer',
 'Pilot, airline',
 'Tourism officer',
 'Building services engineer',
 'Herbalist',
 'Teacher, special educational needs',
 'Magazine features editor',
 'Solicitor, Scotland',
 'Engineer, electronics',
 'Holiday representative',
 'Conference centre manager',
 'Teacher, English as a foreign language',
 'Commercial horticulturist',
 'Theme park manager',
 'Mental health nurse',
 'Theatre stage manager',
 'Passenger transport manager',
 'Community education officer',
 'Recruitment consultant',
 'Software engineer',
 'Arts development officer',
 'TEFL teacher',
 'Catering manager',
 'Surveyor, insurance',
 'Research officer, trade union',
 'Midwife',
 'Risk manager',
 'Company secretary',
 'Financial planner',
 'Proofreader',
 'Engineer, control and instrumentation',
 'Garment/textile technologist',
 'Food technologist',
 'Occupational psychologist',
 'Medical secretary',
 'Surveyor, hydrographic',
 'Make',
 'Archivist',
 'Research scientist (physical sciences)',
 'Designer, exhibition/display',
 'Probation officer',
 'Agricultural engineer',
 'Psychologist, occupational',
 'Chartered loss adjuster',
 'Arboriculturist',
 'Public relations account executive',
 'Hydrographic surveyor',
 'Camera operator',
 'Environmental consultant',
 "Politician's assistant",
 'Estate agent',
 'Lecturer, further education',
 'Office manager',
 'Sports coach',
 'Freight forwarder',
 'Magazine journalist',
 'Advertising account executive',
 'Advertising copywriter',
 'Museum/gallery conservator',
 'Intelligence analyst',
 'Development worker, international aid',
 'Travel agency manager',
 'Consulting civil engineer',
 'Retail banker',
 'Administrator, Civil Service',
 'Outdoor activities/education manager',
 'Government social research officer',
 'Scientist, research (medical)',
 'Designer, blown glass/stained glass',
 'Chemist, analytical',
 'Programmer, applications',
 'Quality manager',
 'Dispensing optician',
 'Tourist information centre manager',
 'Financial adviser',
 'Community development worker',
 'Geographical information systems officer',
 'Airline pilot',
 'Broadcast presenter',
 'Architect',
 'Site engineer',
 'Accountant, chartered public finance',
 'Chartered legal executive (England and Wales)',
 'Fine artist',
 'Podiatrist',
 'Physicist, medical',
 'Investment banker, corporate',
 'Warehouse manager',
 'Oceanographer',
 'Licensed conveyancer',
 'Environmental manager',
 'Leisure centre manager',
 'Insurance underwriter',
 'Surveyor, quantity',
 'Scientist, physiological',
 'Theatre manager',
 'Psychologist, educational',
 'Animal nutritionist',
 'Engineering geologist',
 'Exercise physiologist',
 'Race relations officer',
 'Hospital pharmacist',
 'Retail buyer',
 'Fitness centre manager',
 'Engineer, mining',
 'Engineer, chemical',
 'Teacher, music',
 'Horticulturist, amenity',
 'Learning mentor',
 'Paediatric nurse',
 'Engineer, production',
 'Metallurgist',
 'Product designer',
 'Accounting technician',
 'Counsellor',
 'Tree surgeon',
 'Health visitor',
 'Games developer',
 'Armed forces operational officer',
 'Teacher, adult education',
 'Surveyor, building',
 'Patent examiner',
 'Manufacturing engineer',
 'Clinical biochemist',
 'Homeopath',
 'Insurance broker',
 'Aeronautical engineer',
 'Psychotherapist',
 'Therapist, nutritional',
 'Police officer',
 'IT technical support officer',
 'Media buyer',
 'Physiological scientist',
 'Armed forces logistics/support/administrative officer',
 'Trading standards officer',
 'Commissioning editor',
 'Building surveyor',
 'Programme researcher, broadcasting/film/video',
 'Systems analyst',
 'Runner, broadcasting/film/video',
 'Academic librarian',
 'Radiographer, therapeutic',
 'Health service manager',
 'Bonds trader',
 'Therapist, occupational',
 'Geophysicist/field seismologist',
 'Ranger/warden',
 'Barrister',
 'Engineer, drilling',
 'Engineer, civil (consulting)',
 'Environmental education officer',
 'Trade mark attorney',
 'Ophthalmologist',
 'Naval architect',
 'Press photographer',
 'Pharmacologist',
 'Manufacturing systems engineer',
 'Public affairs consultant',
 'Administrator, sports',
 'Corporate investment banker',
 'Broadcast engineer',
 'Therapist, speech and language',
 'Designer, textile',
 'Housing manager/officer',
 'Clinical molecular geneticist',
 'Pharmacist, community',
 'Waste management officer',
 'Environmental health practitioner',
 'Learning disability nurse',
 'Research scientist (life sciences)',
 'Immunologist',
 'Haematologist',
 'Exhibition designer',
 'Visual merchandiser',
 'Conservator, museum/gallery',
 'Meteorologist',
 'Speech and language therapist',
 'Civil Service fast streamer',
 'Writer',
 'Research scientist (maths)',
 'Colour technologist',
 'Production manager',
 'Lexicographer',
 'Press sub',
 'Education administrator',
 'Tour manager',
 'Conservation officer, nature',
 'Engineer, petroleum',
 'Clinical scientist, histocompatibility and immunogenetics',
 'Museum/gallery curator',
 'Designer, graphic',
 'Scientist, water quality',
 'Banker',
 'Civil engineer, consulting',
 'Mechanical engineer',
 'Records manager',
 'Engineer, site',
 'Illustrator',
 'Administrator, local government',
 'Investment banker, operational',
 'Financial risk analyst',
 'Engineer, technical sales',
 'Surveyor, commercial/residential',
 'Adult nurse',
 'Marketing executive',
 'Toxicologist',
 'Trade union research officer',
 'Doctor, general practice',
 'Sales promotion account executive',
 'Senior tax professional/tax inspector',
 'Armed forces training and education officer',
 'Forensic psychologist',
 'Child psychotherapist',
 'Audiological scientist',
 'Bookseller',
 'Diplomatic Services operational officer',
 'Art gallery manager',
 'Technical brewer',
 'Exhibitions officer, museum/gallery',
 'Nurse, learning disability',
 'Music therapist',
 'Special effects artist',
 'Stage manager',
 'Prison officer',
 'Editor, film/video',
 'Actuary',
 'Information systems manager',
 'Investment analyst']

#### 고객들이 직업별로 구매금액이 어떻게 될까요?

In [24]:
df_tmp = df[['Job','Purchase Price']]
df_tmp

                                         Job  Purchase Price
0     Scientist, product/process development           98.14
1                          Drilling engineer           70.73
2                   Customer service manager            0.95
3                          Drilling engineer           78.04
4                                Fine artist           77.82
...                                      ...             ...
9995                              Printmaker           82.21
9996                         Energy engineer           25.63
9997                      Veterinary surgeon           83.98
9998                Local government officer           38.84
9999                  Embryologist, clinical           67.59

[10000 rows x 2 columns]

In [26]:
df_tmp.groupby('Job') #바로 볼 수 없음

In [27]:
df_tmp.groupby('Job').count() #구매 금액 건수

                                  Purchase Price
Job
Academic librarian                            11
Accommodation manager                         17
Accountant, chartered                         20
Accountant, chartered certified               18
Accountant, chartered management              15
...                                          ...
Water quality scientist                       18
Web designer                                  20
Wellsite geologist                            24
Writer                                        10
Youth worker                                  18

[623 rows x 1 columns]

In [28]:
df_tmp.groupby('Job').mean()

                                  Purchase Price
Job
Academic librarian                     47.951818
Accommodation manager                  37.038235
Accountant, chartered                  52.565500
Accountant, chartered certified        57.945000
Accountant, chartered management       69.082667
...                                          ...
Water quality scientist                46.526111
Web designer                           59.764500
Wellsite geologist                     51.309167
Writer                                 44.863000
Youth worker                           40.513333

[623 rows x 1 columns]

In [29]:
df_tmp.groupby('Job').max()

                                  Purchase Price
Job
Academic librarian                         95.15
Accommodation manager                      80.78
Accountant, chartered                      98.54
Accountant, chartered certified            96.78
Accountant, chartered management           99.90
...                                          ...
Water quality scientist                    95.60
Web designer                               95.84
Wellsite geologist                         98.42
Writer                                     92.33
Youth worker                               98.62

[623 rows x 1 columns]

#### 어떤 직업을 가진 사람들이 가장 많은 금액을 지출했나요?

In [30]:
df_tmp.groupby('Job').sum()

                                  Purchase Price
Job
Academic librarian                        527.47
Accommodation manager                     629.65
Accountant, chartered                    1051.31
Accountant, chartered certified          1043.01
Accountant, chartered management         1036.24
...                                          ...
Water quality scientist                   837.47
Web designer                             1195.29
Wellsite geologist                       1231.42
Writer                                    448.63
Youth worker                              729.24

[623 rows x 1 columns]

In [31]:
df_tmp.groupby('Job').sum().sort_values(by='Purchase Price')

                             Purchase Price
Job
Art gallery manager                  219.05
Marketing executive                  234.08
Information systems manager          241.42
Actuary                              262.72
Music therapist                      327.50
...                                     ...
Clinical cytogeneticist             1495.92
Therapist, art                      1526.31
Purchasing manager                  1577.97
Lawyer                              1603.85
Dietitian                           1605.30

[623 rows x 1 columns]

#### bondellen@williams-garza.com 메일 주소를 가진 사용자의 구매이력을 찾아보세요.

In [34]:
df[df['Email'] == 'bondellen@williams-garza.com']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1234,"2470 Maria Manors Suite 185\nJoneshaven, MN 87251",82 UX,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,"Cole, King and Bowers",4926535242672853,09/21,188,American Express,bondellen@williams-garza.com,Planning and development surveyor,159.182.3.50,ru,77.88

#### MasterCard를 사용했으며 50달러 이상 구매한 사용자가 몇명인지?

In [36]:
df[df['CC Provider'] == 'Mastercard']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,12/22,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,03/22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
35,"93392 Webb Gardens Apt. 220\nLaurabury, AR 999...",37 om,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Mora Ltd,6011049630969815,09/16,367,Mastercard,hgonzalez@mcdowell.com,"Lecturer, further education",216.23.95.40,zh,97.46
41,"779 Sydney Keys Apt. 119\nAnthonyside, NH 2179...",21 lh,PM,Mozilla/5.0 (Windows; U; Windows 98) AppleWebK...,Scott-Fuller,4547562019036152,08/20,716,Mastercard,kimberlygaines@yahoo.com,Tax inspector,246.108.171.137,ru,23.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9947,"32827 Carl Inlet\nSouth Nicole, NY 38081-6636",40 Dp,PM,Mozilla/5.0 (Windows; U; Windows 95) AppleWebK...,Pruitt-Flores,3158564208754951,03/17,386,Mastercard,josephsmith@gmail.com,Textile designer,198.68.38.23,fr,49.61
9948,"95544 Johnson Isle Suite 939\nMichaelberg, RI ...",91 bW,AM,Opera/8.36.(X11; Linux x86_64; sl-SI) Presto/2...,Fox-Peterson,4762924304307,03/17,567,Mastercard,haleybenjamin@gmail.com,Structural engineer,120.36.140.58,en,71.89
9954,"051 Samantha Wells Apt. 328\nScottborough, OR ...",11 vG,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_2...,"Mendoza, Zimmerman and Reilly",30232295374907,05/21,762,Mastercard,brownamy@perkins.com,"Presenter, broadcasting",61.97.84.101,it,87.15
9981,"087 Larson Roads Apt. 587\nRicestad, WI 98077-...",95 Kw,AM,Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...,"Ortiz, Schultz and Adams",4690863684605,01/19,695,Mastercard,laurenbennett@richards.com,Environmental education officer,106.21.237.73,pt,63.61
9987,"2754 Klein Mission\nJohnsonview, PA 64925-9624",65 Fg,PM,Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...,Curtis LLC,180027305702263,12/24,865,Mastercard,denisehamilton@novak.biz,Primary school teacher,164.39.190.217,es,60.83

In [41]:
len(df[(df['CC Provider'] == 'Mastercard') & (df['Purchase Price'] > 50) ])

405

####  윈도우를 사용하는 사용자는 몇명인가요? (Brower Info)

In [44]:
df[df['Browser Info'].str.contains('Windows')]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
14,"8774 Jason Keys Suite 427\nEast Scottborough, ...",70 zH,AM,Mozilla/5.0 (Windows 98; it-IT; rv:1.9.2.20) G...,"Leach, Howe and Ferguson",869967499275071,09/22,427,VISA 16 digit,aburns@yahoo.com,Acupuncturist,50.25.148.1,de,24.18
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,04/25,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,"0154 Green Forest\nNew Timothy, IL 33670-4620",11 MC,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...,Williams-Walker,4207292109379681,10/16,571,Diners Club / Carte Blanche,hudsonmichael@pace.com,Charity fundraiser,136.169.160.82,de,89.76
9989,"5674 Cruz Trace\nNew Shelby, KY 51047-5469",12 Kf,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Vargas, Nichols and Martinez",5278049688438382,12/23,996,VISA 16 digit,walterswilliam@hotmail.com,Community development worker,39.162.164.169,pt,17.18
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,02/24,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63

In [45]:
len(df[df['Browser Info'].str.contains('Windows')])

4994